*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
}

/* Navbar */

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    background:#1e3a5f;
}

nav h2{
    color:white;
}

nav ul{
    display:flex;
    list-style:none;
    gap:30px;
}

nav a{
    color:white;
    text-decoration:none;
}

/* Hero */

.hero{
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    background:#f4f4f4;
}

.hero h1{
    font-size:48px;
    margin-bottom:15px;
}

.hero p{
    font-size:20px;
    margin-bottom:20px;
}

.hero button{
    padding:12px 25px;
    border:none;
    background:#1e3a5f;
    color:white;
    cursor:pointer;
}
.features{
    display:flex;
    justify-content:center;
    gap:30px;
    padding:60px;
}

.card{
    width:250px;
    padding:20px;
    background:white;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    text-align:center;
}