*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins', Arial, sans-serif;
    background:white;
    color:#1b3661;
}

/* Navbar */

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    background:#1e3a5f;
    box-shadow: 10px 4px 10px rgb(75, 133, 153);
}

nav h2{
    color:white;
}

nav ul{
    display:flex;
    list-style:none;
    gap:30px;
}

nav a{
    color:white;
    text-decoration:none;
}
nav a:hover{
    color:#38bdf8
}
/* Hero */

.hero{
    height:70vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    background:linear-gradient(
        120deg,
        #e0f2fe,
        #f8fafc
    );;
}

.hero h1{
    font-size:48px;
    margin-bottom:15px;
}

.hero p{
    font-size:20px;
    margin-bottom:20px;
}

.hero button{
    padding:12px 30px;
    border:none;
    border-radius: 15px;
    background:#1e3a5f;
    color:white;
    cursor:pointer;
    font-size: 16px;
}

.features{
    padding:60px 20px;
    text-align:center;
    background: #f8fafc;
}

.features h2{
    font-size:40px;
    color:#16325B;
    margin-bottom:40px;
}

.feature-container{
    display:grid;
    grid-template-columns:repeat(3,300px);
    
    justify-content:center;
    gap:30px;
}

.card{

    width:250px;
    padding:20px;
    background:white;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    text-align:center;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.card:hover{
    transform: translateY(-10px);
}

.card h3{
    color: #2563eb;
}

.featured-books{
    padding:60px 20px;
    text-align:center;
    background: #f8fafc;
}

.featured-books h2{
    font-size:40px;
    color:#16325B;
    margin-bottom:40px;
}
.book-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:25px;
   
}
.book-card{
    width:250px;
    height:230px;
    padding:25px;
    background:white;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.15);
    text-align:center;
    transition:0.3s;
}


.book-card:hover{
    transform:translateY(-10px);
}


.book-card h3{
    font-size:22px;
    margin-bottom:15px;
    color: #2563eb;
}


.book-card p{
    margin-bottom:12px;
}


.available{
    color:green;
    font-weight:bold;
}


.issued{
    color:red;
    font-weight:bold;
}


.book-card button{

    background:#1e3a5f;
    color:white;
    border:none;

    padding:10px 25px;

    border-radius:20px;

    font-size:15px;

    cursor:pointer;

    margin-top:10px;

    transition:0.3s;
}

/* 
.section-header{
    text-align: center;
    margin-bottom: 25px;
}

.section-header h2{
    font-size: 32px;
    color: #1f2937;
    margin-bottom: 8px;
}

.section-header p{
    color: #666;
    font-size: 16px;
} */

.search-section{
    padding: 10px;
    background: #f8fafc;
}
.search-box{
    display: flex;
    padding: 10px;
    /* justify-content: center; */
    gap: 10px;
    margin-bottom: 35px;
}


.search-box input{
    width: 350px;
    padding: 12px 18px;
    border-radius: 25px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
}


.search-box input:focus{
    border-color: #2563eb;
}


.search-box button{
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    background: #2563eb;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}


.search-box button:hover{
    background: #1d4ed8;
    transform: scale(1.05);
}

/* Categories Section */

.Categories{
    padding: 50px;
    background: #f8fafc;
    
}

.cat-con{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;

}

.Categories h2{
    text-align: center;
    font-size: 32px;
    color: #1f2937;
    margin-bottom: 35px;

}



.book-cat{
    width: 220px;
    min-height: 130px;
    padding: 25px;
    background: white;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
    cursor: pointer;
}


.book-cat:hover{
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}


.book-cat h3{
    color: #2563eb;
    font-size: 22px;
    margin-bottom: 12px;
}


.book-cat p{
    color: #666;
    font-size: 15px;
    line-height: 1.5;
}

/* Statistics Section */

.statistics{
    padding: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

    background: #2563eb;
}


/* Individual stat box */

.stat-box{
    width: 220px;
    padding: 30px 20px;

    background: white;
    border-radius: 15px;

    text-align: center;

    box-shadow: 0 8px 20px rgba(0,0,0,0.15);

    transition: 0.3s;
}


/* Hover effect */

.stat-box:hover{
    transform: translateY(-10px);
}


/* Numbers */

.stat-box h2{
    font-size: 36px;
    color: #2563eb;
    margin-bottom: 10px;
}


/* Text */

.stat-box p{
    font-size: 18px;
    color: #555;
    font-weight: 500;
}

/* Advanced Features Section */

.advanced-features{
    text-align: center;
    padding: 50px;
}


.advanced-features h2{
    text-align:center;
    font-size:32px;
    color:#243e62;
    margin-bottom:35px;
}



.feature-contain{
    display: grid;
    grid-template-columns:repeat(3,250px);
    justify-content:center;
    gap:25px;
}


.feature-box{
    width:300px;
    padding: 40px;
    background:white;
    border-radius:18px;
    text-align:center;
    box-shadow:0 6px 18px rgba(0,0,0,0.1);
    transition:0.3s;
}


.feature-box:hover{
    transform:translateY(-10px);
}


.feature-box h3{
    font-size:22px;
    color:#2563eb;
    margin-bottom:15px;
}


.feature-box p{
    color:#555;
    line-height:1.5;
}


.feature-box button{
    margin-top:20px;
    padding:10px 22px;
    border:none;
    border-radius:25px;
    background:#2563eb;
    color:white;
    cursor:pointer;
    font-size:15px;
    transition:0.3s;
}


/* Footer */

footer{
    background: #111827;
    color: white;
    padding: 50px 40px;
}


/* Footer content */

.footer-content{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;

    max-width: 1200px;
    margin: auto;
}


/* Footer columns */

.footer-content div{
    width: 220px;
}


/* Heading */

.footer-content h3{
    font-size: 22px;
    margin-bottom: 15px;
    color: #60a5fa;
}


/* Paragraph */

.footer-content p{
    color: #d1d5db;
    font-size: 15px;
    margin: 10px 0;
    cursor: pointer;

    transition: 0.3s;
}


/* Hover effect */

.footer-content p:hover{
    color: white;
    transform: translateX(5px);
}


/* Responsive */

@media(max-width:768px){

    .footer-content{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-content div{
        width:100%;
    }

}